<form method='post' class="form-inline well">
  <input name='email' placeholder="email" >
  <input type="password" name='password'>
  <input class="btn primary" type='submit' value='Signup!'>
</form>
