<div class="hero-unit">
    <h1>Blogera!</h1>
    <p>Write your blogs by sending emails to our postman Blogera
    Sign up below and start posting!</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<form class="well form-inline" action="/signup" method="POST">
    <input name="email" type="text" class="input-small" placeholder="Email">
    <input name="password" type="password" class="input-small" placeholder="Password">
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

